<div class="user-details">
  <h1>Achievements</h1>
  <p>{{ site.achievements_1 }}</p>
  <p>{{ site.achievements_2 }}</p>
  <p>{{ site.achievements_3 }}</p>
  <p>{{ site.achievements_4 }}</p>
  <p>{{ site.achievements_5 }}</p>
  <p>{{ site.achievements_6 }}</p>
</div>