<footer class="footer">
    <p>Built by Divashen Govender 2019</a></p> <!-- <i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i> -->
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
