<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title_1 }} | {{ site.user_title_2 }} | {{ site.user_title_3 }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:divashen.govender@gmail.com"><i class="icon fa fa-envelope"></i></a>
<!--        <a aria-label="My Instagram" target="_blank" href=""><i class="icon fa fa-instagram" aria-hidden="true"></i></a>-->
<!--        <a aria-label="My Facebook" target="_blank" href=""><i class="icon fa fa-facebook" aria-hidden="true"></i></a>-->
        <a aria-label="My LinkedIn" target="_blank" href="www.linkedin.com/in/divashen-govender"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/DivashenG"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
