<div class="user-details">
  <h1>Public Speaking</h1>
  <p>{{ site.speaking_1 }}</p>
  <p>{{ site.speaking_2 }}</p>
  <p>{{ site.speaking_3 }}</p>
  <p>{{ site.speaking_4 }}</p>
  <p>{{ site.speaking_5 }}</p>
</div>