<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <section id="about">
      {% include about.html %}
    </section>
    <section id="experience">
      {% include experience.html %}
    </section>
    <section id="education">
      {% include education.html %}
    </section>
    <section id="achievements">
      {% include achievements.html %}
    </section>
    <section id="voluntary">
      {% include voluntary.html %}
    </section>
    <section id="speaking">
      {% include speaking.html %}
    </section>
      {{ content }}
    {% include footer.html %}
  </body>
</html>
